<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../stylesheets/main.css">
        <!-- Navigation Bar -->
        <a href="/users/<%=current_user.id%>"> My Pull List</a> || <a href="/comicbooks/new"> Add To My Pull List</a> || <a href="/comicbooks"> All Comicbook In Database</a>
    </head>
    <body>
        <h1><%= @comicbook.title %></h1>
        <% if @comicbook.issue_number %> <h4>Issue:<%= @comicbook.issue_number %></h4> <% end %>
        <% if @comicbook.publisher %> <h4>Publisher: <%= @comicbook.publisher %></h4> <% end %>
        <% if @comicbook.writer %> <h4>Writer: <%= @comicbook.writer %></h4> <% end %>
        <% if @comicbook.year %> <h4>Year: <%= @comicbook.year %></h4> <% end %>
        <% if @comicbook.cover_price %> <h4>Cover Price: $<%= @comicbook.cover_price %></h4> <% end %>
        <% if @comicbook.description %> <h4>Description: <%= @comicbook.description %></h4> <% end %>

        <% if @comicbook.user_id == current_user.id %>

        <a href="/comicbooks/<%=@comicbook.id%>/edit"><button>Edit Comicbook Details</button></a>

        <form method="POST" action="/comicbooks/<%=@comicbook.id%>">
            <input name="_method" value="DELETE" type="hidden" />
            <input type="submit" value="Delete Comicbook" id="submit">
        </form>

        <%end%>
    </body>
</html>